/* this is where u write ur css! */

/* example custom css that puts space after a carousel */
.carousel {
    margin-bottom: 1em;
}

body {
    background-color: LightCyan;
    padding-bottom: 5%;
}

.navbar-brand {
    background-color: #A3E2E2;
    font-family: 'Perpetua Titling MT';
    padding: 0% 1%;
}

.card {
    background-color: #A3E2E2;
}
.btn{
    background-color: #61c0cc;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


.list-group-item {
    background-color: #c1f1f1;
}