/* this is where u write ur css! */

/* example custom css that puts space after a carousel */
.carousel {
    margin-bottom: 1em;
}

body {
    background-color: LightCyan;
    padding-bottom: 5%;
}

.navbar-brand {
    background-color: #A3E2E2;
    font-family: 'Perpetua Titling MT';
    padding: 0% 1%;
}

.card {
    background-color: #A3E2E2;
}
.btn{
    background-color: #61c0cc;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.dropbtn {
    background-color: #9c9c9c;
    color: white;
    border: none;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {display: block;}

.list-group-item {
    background-color: #c1f1f1;
}