/* this is where u write ur css! */

/* example custom css that puts space after a carousel */
.carousel {
    margin-bottom: 1em;
}

body {
    background-color: LightCyan;
    padding-bottom: 5%;
}

.navbar {
    background-color: LightBlue;
}